html {
    height: 100%;
    color:#9b1b1b;
}

body {
    height: 100%;
    background-color:#61429b;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

a{
    color:#9b1b1b;
}

#cole{
    width:100px;
    
}
